:host {
    display: flex;
    background-color: var(--primary);
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.login-info {
    font-size: 20px;
    color: var(--surface);
}