.mat-drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--surface-secondary);
}

.add-sensor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.sensor-name {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
