<mat-drawer-container autosize>
	<mat-drawer #drawer>
		<app-settings-sidenav></app-settings-sidenav>
	</mat-drawer>

	<div class="main">
		<div class="sidenav-settings">
			<button (click)="drawer.toggle()" matMiniFab>
				<mat-icon>menu</mat-icon>
			</button>
		</div>
		<p class="label">All Users</p>
		<div class="table-container">
			<table [dataSource]="dataSource()" mat-table>
				<ng-container matColumnDef="username">
					<th *matHeaderCellDef mat-header-cell> Name</th>
					<td *matCellDef="let element" mat-cell> {{ element.username }}</td>
				</ng-container>

				<ng-container matColumnDef="email">
					<th *matHeaderCellDef mat-header-cell> Email</th>
					<td *matCellDef="let element" mat-cell> {{ element.email }}</td>
				</ng-container>

				<ng-container matColumnDef="isAdmin">
					<th *matHeaderCellDef mat-header-cell>Admin</th>
					<td *matCellDef="let element" mat-cell>
						@if (element.isAdmin) {
							<i class="fa-solid fa-check"></i>
						} @else {
							<i class="fa-solid fa-x"></i>
						}
					</td>
				</ng-container>

				<ng-container matColumnDef="edit">
					<th *matHeaderCellDef mat-header-cell> Edit</th>
					<td *matCellDef="let element" mat-cell>
						<button (click)="editUser(element)" matMiniFab>
							<mat-icon>edit</mat-icon>
						</button>
					</td>
				</ng-container>

				<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
				<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
			</table>
		</div>
	</div>
</mat-drawer-container>
